<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool</title>
    <link rel="stylesheet" 
    type="text/css"
    href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">

        <form action="" method="post" class="form" id="form-1">
            <div class="form-group">
                <h1 class="title-form">Tool điều tra tệp tin</h1>
    
                <div class="space"></div>
    
                <label for="link-file" class="link-file">Hãy nhập tên đường dẫn</label>
                <input type="text" id="link-file" name="link-file" placeholder="Nhập địa chỉ đường dẫn tệp tin" class="form-link">
                <select name="handle-option" id="handle-option" class="form-options">
                    <option value="loop_file">Duyệt tệp tin trong thư mục</option>
                    <option value="total_file">Đếm tổng tệp tin trong thư mục</option>
                    <option value="count_file">Phân loại tệp tin trong thư mục</option>
                    <option value="directory_detail">Thông tin chi tiết của tệp tin</option>
                    <option value="infor_advanced_file">Truy xuất nội dung tệp tin</option>
                    <option value="count_app_install">Đếm số ứng dụng đang được cài đặt</option>

                </select>
            </div>
            <button type="submit" class="form-submit-link">Gửi link</button>
        </form>
        
    </div>
</body>
</html>