<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đếm tổng tệp và thư mục</title>
</head>
<style>
    .container-total-file {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<body>
    <div class="container-total-file">
        <h1>Tổng số thư mục: {{num_directories}}</h1>
        <h1>Tổng số tệp tin: {{num_subdirectories}}</h1>
    </div>
</body>
</html>